body{
   
    background-color: #f0f0f0;
    font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
   

}
.container{
    color: #fff;
   
background-color: black;
border-radius: 6px;
   
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    width: 80%
  

}
#search-input{
    background-color: #f0f0f0;
    font-family: cursive;
    color:#bbb4b4; 
   
    padding: 20px;
    margin: 20px 10px 20px 50px;
    border:none;
    border-radius: 30px;
    font-size: 15px;

   
}
#search-button{
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border: none;
    cursor: pointer;
    margin: 20px 10px 20px 0;
    border:none;
    border-radius: 30px;
    font-size: 15px;
}
#search-button:hover{
    background-color: #0056b3;
}
#search-form{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#date-time{
    font-size: 14px;
    margin-bottom: 20px;
    color: #bbb4b4;
}
#weather-info{

   position: relative;
   top: -85px;px;
   right: -400px;
  font-size: 35px;
}
#weathericon{
font-size: 30px;
}
